body{
    background-image: url("landscape.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bellefair', serif;
}

.firstArcher {
    min-height: 30rem;
}

 .shoot{
    margin: 5rem 0rem 5rem 0rem;
} 

.equip{
      /* padding: 1rem 2rem 1rem 2rem;  
      margin: 0 1rem 0 0rem;   */
    font-size: 1.75rem;
}