body{
    background-image: url("landscape.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bellefair', serif;
}

.firstArcher {
    min-height: 40rem;
}

.shoot{
    margin: 5rem 0rem 5rem 21rem;
}

.equip{
    margin: 0 1rem 0 1rem;
    font-size: 1.75rem;
}